%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts,
 [{parse_transform, lager_transform}, warnings_as_errors]}.

{deps,
 [{rock_util, ".*", {git, "https://github.com/ccredrock/rock_util"}},
  {redis_sync, ".*", {git, "https://github.com/ccredrock/redis_sync.git"}}
 ]}.
